/* --------------
     google fonts
   ------------------  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*------------------------------
         common style
  ------------------------------  */
  body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: #fdfdfd;
  }

  /* ---------------------------
    Header style start  
    --------------------------*/
    .header-section{
      /* margin-top: 5%; */
    }
    .container{
      width: 80%;
      margin: 0 auto;
      margin-top: 5%;
    }

    /* Navigation style start  */
    
    .nav-bar{
      margin-top: 5%;
      display: flex;
      justify-content: space-between;
      align-items: center;

    }
    
    .nav-bar .logo .logo-title{
      font-size: 24px;
      color: #3A3A3A;
    }
    
    .menu-bar a{
      text-decoration: none;
      font-size: 16px;
      font: 600;
      color: #3A3A3A;
      padding-left: 25px;
}
/* Navigation style end */

/* Header information style start  */
.header-influencer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}
.header-info{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.header-text h1{
  font-size: 70px;
  font-weight: 700;
  color: #3A3A3A;
  line-height: 70px;
}

.header-text p{
  font-size: 16px;
  font-weight: 600;
}
 .header-text a{
  display: inline-block;
  width: 250px;
  text-decoration: none;
  background-color: #E02C6D;
  color: white;
  padding: 10px 10px;
  border-radius: 41px;
  text-align: center;
  transition: all linear 0.4s;
}


.header-text .icon-arrow{
  padding: 2%;

}  
.header-btn:hover {
  transform: scale(1.1);

}
.header-info-logo{
  width: 50%;
  margin-right: -8%;
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.header-info-logo img{
  margin-left: 22%;
}
/* Header information style end */

/* Shopping ares style start  */
.shop-info{
 margin-top: 10%;
 display: flex;
 justify-content: center;
 align-items: center;
}
.shop-sites{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-items: center;
}
.shop-sites .shop-name{
  padding: 0 30px;
}

/* Shopping ares style end */

  /* ------------------------
        Header style end 
    -------------------------*/